$primaryCol: #c0392b;
$secondaryCol: blue;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-custom {
  width: 95%;

  .range-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    color: $primaryCol;
    .range-slider {
      position: relative;
      width: 75%;
      .indicator {
        position: relative;
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(calc(-50% + 11px));
        width: 4em;
        height: 4em;
        border-radius: 50%;
        border: 1px solid $primaryCol;
        span {
          font-size: 0.75em;
          color: $primaryCol;
        }
      }
      input {
        -webkit-appearance: none;
        margin-top: 29px;
        width: 100%;
        &:focus {
          outline: none;
        }
        &::-webkit-slider-runnable-track {
          -webkit-appearance: none;
          width: 100%;
          height: 1px;
          cursor: pointer;
          box-shadow: none;
          border-radius: 0px;
        }
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          box-shadow: none;
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
          height: 42px;
          width: 22px;
          border-radius: 22px;
          cursor: pointer;
          margin-top: -20px;
        }
        &::-webkit-slider-runnable-track,
        &::-webkit-slider-thumb {
          background: $primaryCol;
        }
      }
    }

    .range {
      width: 75%;
      opacity: 1;
      display: flex;
      justify-content: space-between;
      span:first-child {
        margin-left: 8px;
      }
      span:nth-child(2) {
        margin-right: 6px;
      }
    }
  }
}

.loading {
  width: 100vw;
  height: 150vh;
  //background: #fff;
  position: fixed;
  z-index: 150000;
  right: 0;
  top: 0;
  //transform: translate(10%, -4rem);
  transition: 0.5s;
  .sk-circle {
    margin: auto;
    width: 60px;
    height: 100px;
    position: relative;
    transform: translateY(250px);

    .sk-child {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      &::before {
        content: ' ';
        display: block;
        margin: 0 block;
        height: 18%;
        border-radius: 100%;
        animation: sk-circleBounceDelay 0.84s infinite ease-in-out both;
      }
      &:nth-child(2n)::before {
        background-color: $primaryCol;
      }
      &:nth-child(2n-1)::before {
        background-color: $secondaryCol;
      }
    }

    @for $i from 1 through 12 {
      .sk-circle#{$i} {
        transform: rotate(#{$i * 30}deg);
        &::before {
          animation-delay: #{$i * 0.07}s;
        }
      }
    }

    @keyframes sk-circleBounceDelay {
      0%,
      80%,
      100% {
        transform: scale(0);
      }
      40% {
        transform: scale(1);
      }
    }
  }
}

.results-container {
  width: 75%;
  height: 50%;
  background: $primaryCol;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .fa-times-circle {
    position: absolute;
    top: 0.5em;
    left: 1em;
    color: $secondaryCol;
    font-size: 1.5em;
    cursor: pointer;
  }
  .results {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 70%;
    margin: 2.5em auto 1.5em;

    .graphs {
      width: 50%;
      .bar {
        height: 1em;
        background: $secondaryCol;
        width: 0;
        transition: 1s ease;
      }
    }
    .percentages {
      width: 30%;
    }
    .description {
      width: 20%;
    }
    .graphs,
    .percentages,
    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .final-result {
    margin: auto;
    text-align: center;
  }
}
